@import "tailwindcss";

body{
    font-family: "Bodoni Moda", serif;
}
.title{
    @apply text-4xl font-bold text-gray-800 w-full mb-4;
}
.section{
    @apply w-full  pb-10 px-4 bg-white scroll-mt-[100px];
}
.sectioneven{
    @apply w-full pb-10 px-4 bg-white scroll-mt-[100px];
}

.clr{
    @apply bg-blue-400;
}
.logos{
    @apply group-hover:text-blue-400 text-indigo-600 w-8 h-8 max-md:w-6 max-md:h-6
}
.underline{
    text-decoration: underline;
    text-decoration-color: rgb(49, 190, 255);
    text-underline-offset: 10px;
}

.truncated {
    @apply line-clamp-3;
}

/* Custom bottom-only shadow */
.shadow-bottom {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
}

/* Custom blurred border */
.border-blur {
    position: relative;
    border: 1px solid rgba(156, 163, 175, 0.5); /* Tailwind gray-400 with opacity */
}

.border-blur::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: inherit;
    box-shadow: 0 0 8px 4px rgba(156, 163, 175, 0.4);
    filter: blur(4px);
    z-index: -1;
}
